/* styles/About.module.scss */

// Variables
$max-width: 800px;
$padding: 20px;
$font-size-large: 2.5rem;
$font-size-medium: 1.2rem;
$line-height: 1.6;

.navbar-margin {
  margin-top: 10rem;
}

// About Page Styles
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: $padding;
  text-align: center;
}

.profileImage {
  border-radius: 50%;
  margin-bottom: $padding;
}

h1 {
  font-size: $font-size-large;
  margin-bottom: $padding;
}

p {
  font-size: $font-size-medium;
  line-height: $line-height;
  margin: 10px 0;
}
