.timelineContainer {
  background-color: #e3bfbf;
  color: #e1cccc;
  padding: 50px;
  text-align: center;
}

.title {
  font-size: 3.5rem;
  color: #470d6e;
  margin-bottom: 50px;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #470d6e;

    @media (max-width: 768px) {
      left: 30px; // Shift timeline to the right
    }
  }
}

.timelineItem {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;

  &.left {
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .timelineDot {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #470d6e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    z-index: 2;

    @media (max-width: 768px) {
      left: 30px; // Shift dots to match line
    }
  }

  .experienceCard {
    position: relative;
    background: linear-gradient(135deg, #000000, #070056, #39064a, #5e0d6b, #000000);
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: calc(50% - 40px);
    text-align: left;
    

    @media (max-width: 768px) {
      width: 100%;
      margin-left: 50px; // Add more space from left
      padding-left: 10px;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #c792ea;
    }

    h4 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #ffffff;
    }

    .duration {
      font-size: 1rem;
      color: #aaaaaa;
      margin-bottom: 15px;
      display: block;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      color: #d4d4d4;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    .timelineDot {
      left: 30px; // Better alignment for mobile
    }

    .experienceCard {
      width: 100%;
      margin-left: 50px; // Add more spacing to the card from left
      position: relative;

    }
  }
}

.experienceTopRightButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #470d6e;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: transform 0.2s ease, background-color 0.3s ease;

  &:hover {
    background-color: #ece1f1;
    transform: scale(1.1);
  }
}
